/* @author: Brendan Dudley			*/
/* GeneSpot Output CSS	            */

/* Layout for CSS, different options depending on database organization included */
/* TODO: connect to database and finalize formatting */

<head>

/* Color by Kingdom */
/* To be used for general formatting and to define color for ifPresent */
/* example: tr.animalia ? */
.animalia {
	color: red;
}

.plantae {
	color: green;
}

.fungi {
	color: olive;
}

.archaebacteria {
	color: purple;
}

.eubacteria {
	color: fuchsia;
}

.protista {
	color: blue;
}

/* Format by attribute -- just need to translate */
/* for html whole table is element, not individual element in table: identify by attr */
[kingdom~="animalia"] {
	color: red;
}

[kingdom~="plantae"] {
	color: green;
}

[kingdom~="fungi"] {
	color: olive;
}

[kingdom~="archaebacteria"] {
	color: purple;
}

[kingdom~="eubacteria"] {
	color: fuchsia;
}

[kingdom~="protista"] {
	color: blue;
}

/* change element color to grey (for any kingdom) if not present */
/* OR use table {empty-cells: hide;} */
.notPresent {
	color: #808080; /* #808080 = grey */
}
[present="0"] {
	color: #808080;
}

/* Table base layout */
table {
	table-layout: fixed;
	border: none;
	font-family: arial;
	font-size: 12px;
}
/* Layout for first column of output Table (Kingdom Name) */
table:first-child {
		font-size: 16px;
		text-transform: uppercase;
}

th {	/* gene name */
	background-color: #000000; /* black */
	color: #FFFFFF; /* white text */
	/*border: none;*/
}
td {
	/*border:none;*/
}

/* Hover action */
tr:hover{}



</head>